Repository blitzy-public-samples/case-mentor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

BugFix: Automated bug fixes for src/backend/lib/email/templates/feedback.ts
  src/backend/lib/email/templates/feedback.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/cache/redis.ts
  src/backend/lib/cache/redis.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/UserService.ts
  src/backend/services/UserService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/SimulationService.ts
  src/backend/services/SimulationService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/DrillService.ts
  src/backend/services/DrillService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/SubscriptionService.ts
  src/backend/services/SubscriptionService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/simulation/index.ts
  src/backend/lib/simulation/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/simulation/route.ts
  src/backend/api/simulation/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/feedback/route.ts
  src/backend/api/feedback/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/stripe/webhooks.ts
  src/backend/lib/stripe/webhooks.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/users/[id]/route.ts
  src/backend/api/users/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/users/[id]/progress/route.ts
  src/backend/api/users/[id]/progress/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/subscription/webhook/route.ts
  src/backend/api/subscription/webhook/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/subscription/create/route.ts
  src/backend/api/subscription/create/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/simulation/[id]/route.ts
  src/backend/api/simulation/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/feedback/[id]/route.ts
  src/backend/api/feedback/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/drills/[id]/route.ts
  src/backend/api/drills/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/models/index.ts
  src/backend/models/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/package.json
  src/backend/package.json
Owners: @security-team, @dependency-team

BugFix: Automated bug fixes for src/backend/services/SimulationService.ts
  src/backend/services/SimulationService.ts
Owners: @backend-team, @security-team

Fix: Resolve TailwindCSS configuration and output detection issues
  src/backend/package-lock.json
  src/web/app/(auth)/login/page.tsx
  src/web/app/(dashboard)/home.tsx
  src/web/app/(dashboard)/layout.tsx
  src/web/app/globals.css
  src/web/app/layout.tsx
  src/web/app/output.css
  src/web/next-env.d.ts
  src/web/package-lock.json
  src/web/package.json
  src/web/postcss.config.js
  src/web/styles/components.css
  src/web/tailwind.config.ts
Owners: @security-team, @dependency-team, @frontend-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/simulation/evaluator.ts
  src/backend/lib/simulation/evaluator.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/package.json
  src/backend/package.json
Owners: @security-team, @dependency-team

BugFix: Automated bug fixes for src/backend/services/UserService.ts
  src/backend/services/UserService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/SimulationService.ts
  src/backend/services/SimulationService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/DrillService.ts
  src/backend/services/DrillService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/SubscriptionService.ts
  src/backend/services/SubscriptionService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/simulation/route.ts
  src/backend/api/simulation/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/users/[id]/route.ts
  src/backend/api/users/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/users/[id]/progress/route.ts
  src/backend/api/users/[id]/progress/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/simulation/[id]/route.ts
  src/backend/api/simulation/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/feedback/[id]/route.ts
  src/backend/api/feedback/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/drills/[id]/route.ts
  src/backend/api/drills/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/drills/index.ts
  src/backend/lib/drills/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/simulation/evaluator.ts
  src/backend/lib/simulation/evaluator.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/package.json
  src/backend/package.json
Owners: @security-team, @dependency-team

.github/CODEOWNERS:

# Requirements addressed:
# - System Security (8.1): Enforces mandatory code reviews for security-sensitive components
# - Development Pipeline (4.5): Implements code review requirements in development workflow
# - Security Protocols (8.3): Ensures security-critical changes are reviewed by security team

# Global fallback ownership - all files will require project lead review if no other rule matches
* @project-leads

# Backend code including API routes, services, and database access
/src/backend/** @backend-team @security-team

# Frontend code including React components, pages, and client-side logic
/src/web/** @frontend-team

# Infrastructure and deployment configuration including Vercel and Supabase settings
/infrastructure/** @devops-team @security-team

# Test files including unit, integration, and E2E tests
*.test.ts @qa-team

# Backend configuration files including environment variables and security settings
/src/backend/config/** @security-team

# Database migration and seed files for Supabase PostgreSQL
*.sql @database-team @security-team

# Authentication and authorization code including JWT handling and session management
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files including GitHub Actions and Vercel configs
*.yml @devops-team

# Dependency management files to prevent supply chain attacks
package*.json @security-team @dependency-team
