Repository blitzy-public-samples/case-mentor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Requirements addressed:
# - System Security (8.1): Enforces mandatory code reviews for security-sensitive components
# - Development Pipeline (4.5): Implements code review requirements in development workflow
# - Security Protocols (8.3): Ensures security-critical changes are reviewed by security team

# Global fallback ownership - all files will require project lead review if no other rule matches
* @project-leads

# Backend code including API routes, services, and database access
/src/backend/** @backend-team @security-team

# Frontend code including React components, pages, and client-side logic
/src/web/** @frontend-team

# Infrastructure and deployment configuration including Vercel and Supabase settings
/infrastructure/** @devops-team @security-team

# Test files including unit, integration, and E2E tests
*.test.ts @qa-team

# Backend configuration files including environment variables and security settings
/src/backend/config/** @security-team

# Database migration and seed files for Supabase PostgreSQL
*.sql @database-team @security-team

# Authentication and authorization code including JWT handling and session management
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files including GitHub Actions and Vercel configs
*.yml @devops-team

# Dependency management files to prevent supply chain attacks
package*.json @security-team @dependency-team

BugFix: Automated bug fixes for src/backend/services/SimulationService.ts
  src/backend/services/SimulationService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/simulation/[id]/route.ts
  src/backend/api/simulation/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/drills/[id]/route.ts
  src/backend/api/drills/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/models/SimulationAttempt.ts
  src/backend/models/SimulationAttempt.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/package.json
  src/backend/package.json
Owners: @security-team, @dependency-team

Fix: Update Tailwind CSS configuration and resolve input.css issue
  src/web/output.css
  src/web/styles/components.css
  src/web/styles/tailwind.css
  src/web/tailwind.config.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/simulation/evaluator.ts
  src/backend/lib/simulation/evaluator.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/SimulationService.ts
  src/backend/services/SimulationService.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/simulation/[id]/route.ts
  src/backend/api/simulation/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/drills/[id]/route.ts
  src/backend/api/drills/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/drills/[id]/route.ts
  src/backend/api/drills/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team, @security-team

fixes
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/drills/[id]/route.ts
  src/backend/api/drills/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team, @security-team

Fix: Resolve Tailwind configuration, Supabase, and React server component issues
  src/web/app/globals.css
  src/web/app/layout.tsx
  src/web/components/output.css
  src/web/components/shared/Input.tsx
  src/web/package-lock.json
  src/web/package.json
  src/web/providers/AuthProvider.tsx
  src/web/providers/ThemeProvider.tsx
  src/web/providers/ToastProvider.tsx
  src/web/styles/components.css
  src/web/styles/tailwind.css
  src/web/tailwind.config.ts
Owners: @frontend-team, @security-team, @dependency-team

Fix: Resolve Tailwind configuration, Supabase, and React server component issues
  src/web/.env.example
  src/web/lib/supabase.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/package.json
  src/backend/package.json
Owners: @security-team, @dependency-team

BugFix: Automated bug fixes for src/backend/api/drills/[id]/route.ts
  src/backend/api/drills/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/auth/middleware.ts
  src/backend/lib/auth/middleware.ts
Owners: @security-team

BugFix: Automated bug fixes for src/backend/lib/cache/redis.ts
  src/backend/lib/cache/redis.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/drills/[id]/route.ts
  src/backend/api/drills/[id]/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/cache/redis.ts
  src/backend/lib/cache/redis.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/package.json
  src/backend/package.json
Owners: @security-team, @dependency-team

BugFix: Automated bug fixes for src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team, @security-team

Manual fixes
  src/backend/package-lock.json
  src/backend/services/index.ts
Owners: @security-team, @dependency-team, @backend-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

Manual fixes
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

Add logo assets and integrate into header and components
  public/images/business-person.png
  public/images/calculator.png
  public/images/logo.png
  public/images/market-sizing.png
  public/images/network.png
  public/logo.png
  src/assets/images/business-person.png
  src/assets/images/calculator.png
  src/assets/images/logo.png
  src/assets/images/market-sizing.png
  src/assets/images/network.png
  src/web/app/(dashboard)/layout.tsx
  src/web/app/page.tsx
  src/web/components/auth/LoginForm.tsx
  src/web/components/auth/RegisterForm.tsx
  src/web/components/layout/Header.tsx
  src/web/components/shared/Button.tsx
Owners: @project-leads, @frontend-team

Refactored button alignment and layout structure for improved responsiveness and styling
  src/package-lock.json
  src/package.json
  src/web/app/(dashboard)/layout.tsx
  src/web/app/page.tsx
  src/web/components/layout/DashboardLayout.tsx
  src/web/hooks/useAuth.ts
  src/web/hooks/useTheme.ts
  src/web/package-lock.json
  src/web/package.json
  src/web/providers/ProgressProvider.tsx
  src/web/providers/QueryProvider.tsx
Owners: @security-team, @dependency-team, @frontend-team
