Repository blitzy-public-samples/case-mentor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Requirements addressed:
# - System Security (8.1): Enforces mandatory code reviews for security-sensitive components
# - Development Pipeline (4.5): Implements code review requirements in development workflow
# - Security Protocols (8.3): Ensures security-critical changes are reviewed by security team

# Global fallback ownership - all files will require project lead review if no other rule matches
* @project-leads

# Backend code including API routes, services, and database access
/src/backend/** @backend-team @security-team

# Frontend code including React components, pages, and client-side logic
/src/web/** @frontend-team

# Infrastructure and deployment configuration including Vercel and Supabase settings
/infrastructure/** @devops-team @security-team

# Test files including unit, integration, and E2E tests
*.test.ts @qa-team

# Backend configuration files including environment variables and security settings
/src/backend/config/** @security-team

# Database migration and seed files for Supabase PostgreSQL
*.sql @database-team @security-team

# Authentication and authorization code including JWT handling and session management
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files including GitHub Actions and Vercel configs
*.yml @devops-team

# Dependency management files to prevent supply chain attacks
package*.json @security-team @dependency-team

Add public-samples/case-mentor/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-leads

Add public-samples/case-mentor/.github/dependabot.yml
  .github/dependabot.yml
Owners: @devops-team

Add public-samples/case-mentor/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/case-mentor/.github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @devops-team

Add public-samples/case-mentor/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/case-mentor/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

Add public-samples/case-mentor/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team

Add public-samples/case-mentor/.github/workflows/preview.yml
  .github/workflows/preview.yml
Owners: @devops-team

Add public-samples/case-mentor/.github/workflows/security.yml
  .github/workflows/security.yml
Owners: @devops-team

Add public-samples/case-mentor/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/case-mentor/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/case-mentor/documentation/Software Requirements Specifications (SRS).json
  documentation/Software Requirements Specifications (SRS).json
Owners: @project-leads

Add public-samples/case-mentor/documentation/Software Requirements Specifications (SRS).md
  documentation/Software Requirements Specifications (SRS).md
Owners: @project-leads

Add public-samples/case-mentor/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/case-mentor/infrastructure/docker/README.md
  infrastructure/docker/README.md
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/docker/development/.env.example
  infrastructure/docker/development/.env.example
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/docker/development/docker-compose.yml
  infrastructure/docker/development/docker-compose.yml
Owners: @devops-team

Add public-samples/case-mentor/infrastructure/docker/monitoring/docker-compose.yml
  infrastructure/docker/monitoring/docker-compose.yml
Owners: @devops-team

Add public-samples/case-mentor/infrastructure/docker/monitoring/grafana/datasources/prometheus.yml
  infrastructure/docker/monitoring/grafana/datasources/prometheus.yml
Owners: @devops-team

Add public-samples/case-mentor/infrastructure/docker/monitoring/prometheus/prometheus.yml
  infrastructure/docker/monitoring/prometheus/prometheus.yml
Owners: @devops-team

Add public-samples/case-mentor/infrastructure/monitoring/README.md
  infrastructure/monitoring/README.md
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/monitoring/grafana/dashboards/api.json
  infrastructure/monitoring/grafana/dashboards/api.json
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/monitoring/grafana/dashboards/database.json
  infrastructure/monitoring/grafana/dashboards/database.json
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/monitoring/grafana/dashboards/system.json
  infrastructure/monitoring/grafana/dashboards/system.json
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/monitoring/grafana/datasources/prometheus.yml
  infrastructure/monitoring/grafana/datasources/prometheus.yml
Owners: @devops-team

Add public-samples/case-mentor/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-team

Add public-samples/case-mentor/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @devops-team

Add public-samples/case-mentor/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @devops-team

Add public-samples/case-mentor/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/scripts/health-check.sh
  infrastructure/scripts/health-check.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/scripts/rotate-keys.sh
  infrastructure/scripts/rotate-keys.sh
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/.gitignore
  infrastructure/terraform/.gitignore
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/README.md
  infrastructure/terraform/README.md
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team, @security-team
