Repository blitzy-public-samples/case-mentor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Requirements addressed:
# - System Security (8.1): Enforces mandatory code reviews for security-sensitive components
# - Development Pipeline (4.5): Implements code review requirements in development workflow
# - Security Protocols (8.3): Ensures security-critical changes are reviewed by security team

# Global fallback ownership - all files will require project lead review if no other rule matches
* @project-leads

# Backend code including API routes, services, and database access
/src/backend/** @backend-team @security-team

# Frontend code including React components, pages, and client-side logic
/src/web/** @frontend-team

# Infrastructure and deployment configuration including Vercel and Supabase settings
/infrastructure/** @devops-team @security-team

# Test files including unit, integration, and E2E tests
*.test.ts @qa-team

# Backend configuration files including environment variables and security settings
/src/backend/config/** @security-team

# Database migration and seed files for Supabase PostgreSQL
*.sql @database-team @security-team

# Authentication and authorization code including JWT handling and session management
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files including GitHub Actions and Vercel configs
*.yml @devops-team

# Dependency management files to prevent supply chain attacks
package*.json @security-team @dependency-team

Add public-samples/case-mentor/src/web/lib/storage.ts
  src/web/lib/storage.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/lib/supabase.ts
  src/web/lib/supabase.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/lib/utils.ts
  src/web/lib/utils.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/providers/AuthProvider.tsx
  src/web/providers/AuthProvider.tsx
Owners: @frontend-team

Add public-samples/case-mentor/src/web/providers/ProgressProvider.tsx
  src/web/providers/ProgressProvider.tsx
Owners: @frontend-team

Add public-samples/case-mentor/src/web/providers/SimulationProvider.tsx
  src/web/providers/SimulationProvider.tsx
Owners: @frontend-team

Add public-samples/case-mentor/src/web/providers/ThemeProvider.tsx
  src/web/providers/ThemeProvider.tsx
Owners: @frontend-team

Add public-samples/case-mentor/src/web/providers/ToastProvider.tsx
  src/web/providers/ToastProvider.tsx
Owners: @frontend-team

Add public-samples/case-mentor/src/web/public/fonts/Inter-var.woff2
  src/web/public/fonts/Inter-var.woff2
Owners: @frontend-team

Add public-samples/case-mentor/src/web/public/images/avatar-placeholder.png
  src/web/public/images/avatar-placeholder.png
Owners: @frontend-team

Add public-samples/case-mentor/src/web/public/images/logo-dark.svg
  src/web/public/images/logo-dark.svg
Owners: @frontend-team

Add public-samples/case-mentor/src/web/public/images/logo-light.svg
  src/web/public/images/logo-light.svg
Owners: @frontend-team

Add public-samples/case-mentor/src/web/styles/animations.css
  src/web/styles/animations.css
Owners: @frontend-team

Add public-samples/case-mentor/src/web/styles/components.css
  src/web/styles/components.css
Owners: @frontend-team

Add public-samples/case-mentor/src/web/styles/tailwind.css
  src/web/styles/tailwind.css
Owners: @frontend-team

Add public-samples/case-mentor/src/web/tests/setup.ts
  src/web/tests/setup.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/tests/components/analytics/ProgressChart.test.tsx
  src/web/tests/components/analytics/ProgressChart.test.tsx
Owners: @frontend-team

Add public-samples/case-mentor/src/web/tests/components/drills/DrillCard.test.tsx
  src/web/tests/components/drills/DrillCard.test.tsx
Owners: @frontend-team

Add public-samples/case-mentor/src/web/tests/components/feedback/FeedbackCard.test.tsx
  src/web/tests/components/feedback/FeedbackCard.test.tsx
Owners: @frontend-team

Add public-samples/case-mentor/src/web/tests/components/simulation/EcosystemCanvas.test.tsx
  src/web/tests/components/simulation/EcosystemCanvas.test.tsx
Owners: @frontend-team

Add public-samples/case-mentor/src/web/tests/hooks/useAuth.test.ts
  src/web/tests/hooks/useAuth.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/web/tests/hooks/useDrill.test.ts
  src/web/tests/hooks/useDrill.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/web/tests/hooks/useSimulation.test.ts
  src/web/tests/hooks/useSimulation.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/web/tests/lib/api.test.ts
  src/web/tests/lib/api.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/web/tests/lib/auth.test.ts
  src/web/tests/lib/auth.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/web/tests/lib/utils.test.ts
  src/web/tests/lib/utils.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/web/types/api.ts
  src/web/types/api.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/types/auth.ts
  src/web/types/auth.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/types/drills.ts
  src/web/types/drills.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/types/feedback.ts
  src/web/types/feedback.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/types/simulation.ts
  src/web/types/simulation.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/types/subscription.ts
  src/web/types/subscription.ts
Owners: @frontend-team

Add public-samples/case-mentor/src/web/types/user.ts
  src/web/types/user.ts
Owners: @frontend-team

Run npm i, tsconfig
  .gitignore
  src/web/package-lock.json
  src/web/package.json
  src/web/tsconfig.json
Owners: @project-leads, @security-team, @dependency-team, @frontend-team

BugFix: Automated bug fixes for src/web/config/theme.ts
  src/web/config/theme.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/config/constants.ts
  src/web/config/constants.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/lib/supabase.ts
  src/web/lib/supabase.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/lib/auth.ts
  src/web/lib/auth.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/lib/api.ts
  src/web/lib/api.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/hooks/useAuth.ts
  src/web/hooks/useAuth.ts
Owners: @frontend-team
