Repository blitzy-public-samples/case-mentor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Requirements addressed:
# - System Security (8.1): Enforces mandatory code reviews for security-sensitive components
# - Development Pipeline (4.5): Implements code review requirements in development workflow
# - Security Protocols (8.3): Ensures security-critical changes are reviewed by security team

# Global fallback ownership - all files will require project lead review if no other rule matches
* @project-leads

# Backend code including API routes, services, and database access
/src/backend/** @backend-team @security-team

# Frontend code including React components, pages, and client-side logic
/src/web/** @frontend-team

# Infrastructure and deployment configuration including Vercel and Supabase settings
/infrastructure/** @devops-team @security-team

# Test files including unit, integration, and E2E tests
*.test.ts @qa-team

# Backend configuration files including environment variables and security settings
/src/backend/config/** @security-team

# Database migration and seed files for Supabase PostgreSQL
*.sql @database-team @security-team

# Authentication and authorization code including JWT handling and session management
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files including GitHub Actions and Vercel configs
*.yml @devops-team

# Dependency management files to prevent supply chain attacks
package*.json @security-team @dependency-team

Add public-samples/case-mentor/infrastructure/terraform/environments/production/terraform.tfvars
  infrastructure/terraform/environments/production/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/modules/cache/main.tf
  infrastructure/terraform/modules/cache/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/modules/cache/outputs.tf
  infrastructure/terraform/modules/cache/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/modules/cache/variables.tf
  infrastructure/terraform/modules/cache/variables.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @devops-team, @security-team

Add public-samples/case-mentor/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/package.json
  src/backend/package.json
Owners: @security-team, @dependency-team

Add public-samples/case-mentor/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/drills/route.ts
  src/backend/api/drills/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/drills/[id]/route.ts
  src/backend/api/drills/[id]/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/feedback/route.ts
  src/backend/api/feedback/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/feedback/[id]/route.ts
  src/backend/api/feedback/[id]/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/simulation/route.ts
  src/backend/api/simulation/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/simulation/[id]/route.ts
  src/backend/api/simulation/[id]/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/subscription/cancel/route.ts
  src/backend/api/subscription/cancel/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/subscription/create/route.ts
  src/backend/api/subscription/create/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/subscription/webhook/route.ts
  src/backend/api/subscription/webhook/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/users/route.ts
  src/backend/api/users/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/users/[id]/route.ts
  src/backend/api/users/[id]/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/api/users/[id]/progress/route.ts
  src/backend/api/users/[id]/progress/route.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/config/constants.ts
  src/backend/config/constants.ts
Owners: @security-team

Add public-samples/case-mentor/src/backend/config/database.ts
  src/backend/config/database.ts
Owners: @security-team

Add public-samples/case-mentor/src/backend/config/email.ts
  src/backend/config/email.ts
Owners: @security-team

Add public-samples/case-mentor/src/backend/config/openai.ts
  src/backend/config/openai.ts
Owners: @security-team

Add public-samples/case-mentor/src/backend/config/stripe.ts
  src/backend/config/stripe.ts
Owners: @security-team

Add public-samples/case-mentor/src/backend/db/migrations/00001_create_users.sql
  src/backend/db/migrations/00001_create_users.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor/src/backend/db/migrations/00002_create_subscriptions.sql
  src/backend/db/migrations/00002_create_subscriptions.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor/src/backend/db/migrations/00003_create_drill_attempts.sql
  src/backend/db/migrations/00003_create_drill_attempts.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor/src/backend/db/migrations/00004_create_simulation_attempts.sql
  src/backend/db/migrations/00004_create_simulation_attempts.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor/src/backend/db/migrations/00005_create_feedback.sql
  src/backend/db/migrations/00005_create_feedback.sql
Owners: @database-team, @security-team
