Repository blitzy-public-samples/case-mentor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Requirements addressed:
# - System Security (8.1): Enforces mandatory code reviews for security-sensitive components
# - Development Pipeline (4.5): Implements code review requirements in development workflow
# - Security Protocols (8.3): Ensures security-critical changes are reviewed by security team

# Global fallback ownership - all files will require project lead review if no other rule matches
* @project-leads

# Backend code including API routes, services, and database access
/src/backend/** @backend-team @security-team

# Frontend code including React components, pages, and client-side logic
/src/web/** @frontend-team

# Infrastructure and deployment configuration including Vercel and Supabase settings
/infrastructure/** @devops-team @security-team

# Test files including unit, integration, and E2E tests
*.test.ts @qa-team

# Backend configuration files including environment variables and security settings
/src/backend/config/** @security-team

# Database migration and seed files for Supabase PostgreSQL
*.sql @database-team @security-team

# Authentication and authorization code including JWT handling and session management
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files including GitHub Actions and Vercel configs
*.yml @devops-team

# Dependency management files to prevent supply chain attacks
package*.json @security-team @dependency-team

Add public-samples/case-mentor/src/backend/db/seeds/drill_types.sql
  src/backend/db/seeds/drill_types.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor/src/backend/db/seeds/simulation_environments.sql
  src/backend/db/seeds/simulation_environments.sql
Owners: @database-team, @security-team

Add public-samples/case-mentor/src/backend/lib/auth/index.ts
  src/backend/lib/auth/index.ts
Owners: @security-team

Add public-samples/case-mentor/src/backend/lib/auth/jwt.ts
  src/backend/lib/auth/jwt.ts
Owners: @security-team

Add public-samples/case-mentor/src/backend/lib/auth/middleware.ts
  src/backend/lib/auth/middleware.ts
Owners: @security-team

Add public-samples/case-mentor/src/backend/lib/cache/index.ts
  src/backend/lib/cache/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/cache/redis.ts
  src/backend/lib/cache/redis.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/drills/calculator.ts
  src/backend/lib/drills/calculator.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/drills/evaluator.ts
  src/backend/lib/drills/evaluator.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/drills/index.ts
  src/backend/lib/drills/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/drills/types.ts
  src/backend/lib/drills/types.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/email/index.ts
  src/backend/lib/email/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/email/templates/feedback.ts
  src/backend/lib/email/templates/feedback.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/email/templates/welcome.ts
  src/backend/lib/email/templates/welcome.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/errors/APIError.ts
  src/backend/lib/errors/APIError.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/errors/handlers.ts
  src/backend/lib/errors/handlers.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/errors/index.ts
  src/backend/lib/errors/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/openai/index.ts
  src/backend/lib/openai/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/openai/prompts.ts
  src/backend/lib/openai/prompts.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/simulation/ecosystem.ts
  src/backend/lib/simulation/ecosystem.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/simulation/evaluator.ts
  src/backend/lib/simulation/evaluator.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/simulation/index.ts
  src/backend/lib/simulation/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/simulation/types.ts
  src/backend/lib/simulation/types.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/stripe/index.ts
  src/backend/lib/stripe/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/stripe/webhooks.ts
  src/backend/lib/stripe/webhooks.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/validation/drills.ts
  src/backend/lib/validation/drills.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/validation/index.ts
  src/backend/lib/validation/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/validation/simulation.ts
  src/backend/lib/validation/simulation.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/lib/validation/users.ts
  src/backend/lib/validation/users.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/models/DrillAttempt.ts
  src/backend/models/DrillAttempt.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/models/Feedback.ts
  src/backend/models/Feedback.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/models/SimulationAttempt.ts
  src/backend/models/SimulationAttempt.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/models/Subscription.ts
  src/backend/models/Subscription.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/models/User.ts
  src/backend/models/User.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/models/index.ts
  src/backend/models/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/services/DrillService.ts
  src/backend/services/DrillService.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/services/FeedbackService.ts
  src/backend/services/FeedbackService.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/services/SimulationService.ts
  src/backend/services/SimulationService.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/services/SubscriptionService.ts
  src/backend/services/SubscriptionService.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/services/UserService.ts
  src/backend/services/UserService.ts
Owners: @backend-team, @security-team
