Repository blitzy-public-samples/case-mentor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

Add public-samples/case-mentor/src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/tests/api/drills.test.ts
  src/backend/tests/api/drills.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/api/feedback.test.ts
  src/backend/tests/api/feedback.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/api/simulation.test.ts
  src/backend/tests/api/simulation.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/api/subscription.test.ts
  src/backend/tests/api/subscription.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/api/users.test.ts
  src/backend/tests/api/users.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/lib/auth.test.ts
  src/backend/tests/lib/auth.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/lib/cache.test.ts
  src/backend/tests/lib/cache.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/lib/drills.test.ts
  src/backend/tests/lib/drills.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/lib/email.test.ts
  src/backend/tests/lib/email.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/lib/openai.test.ts
  src/backend/tests/lib/openai.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/lib/simulation.test.ts
  src/backend/tests/lib/simulation.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/lib/stripe.test.ts
  src/backend/tests/lib/stripe.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/lib/validation.test.ts
  src/backend/tests/lib/validation.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/models/DrillAttempt.test.ts
  src/backend/tests/models/DrillAttempt.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/models/Feedback.test.ts
  src/backend/tests/models/Feedback.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/models/SimulationAttempt.test.ts
  src/backend/tests/models/SimulationAttempt.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/models/Subscription.test.ts
  src/backend/tests/models/Subscription.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/models/User.test.ts
  src/backend/tests/models/User.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/services/DrillService.test.ts
  src/backend/tests/services/DrillService.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/services/FeedbackService.test.ts
  src/backend/tests/services/FeedbackService.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/services/SimulationService.test.ts
  src/backend/tests/services/SimulationService.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/services/SubscriptionService.test.ts
  src/backend/tests/services/SubscriptionService.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/tests/services/UserService.test.ts
  src/backend/tests/services/UserService.test.ts
Owners: @qa-team

Add public-samples/case-mentor/src/backend/types/api.ts
  src/backend/types/api.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/types/config.ts
  src/backend/types/config.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/types/drills.ts
  src/backend/types/drills.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/types/index.ts
  src/backend/types/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/types/simulation.ts
  src/backend/types/simulation.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/types/subscription.ts
  src/backend/types/subscription.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/types/user.ts
  src/backend/types/user.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/utils/encryption.ts
  src/backend/utils/encryption.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/utils/formatting.ts
  src/backend/utils/formatting.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/utils/index.ts
  src/backend/utils/index.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/backend/utils/validation.ts
  src/backend/utils/validation.ts
Owners: @backend-team, @security-team

Add public-samples/case-mentor/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/case-mentor/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/case-mentor/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/case-mentor/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

.github/CODEOWNERS:

# Requirements addressed:
# - System Security (8.1): Enforces mandatory code reviews for security-sensitive components
# - Development Pipeline (4.5): Implements code review requirements in development workflow
# - Security Protocols (8.3): Ensures security-critical changes are reviewed by security team

# Global fallback ownership - all files will require project lead review if no other rule matches
* @project-leads

# Backend code including API routes, services, and database access
/src/backend/** @backend-team @security-team

# Frontend code including React components, pages, and client-side logic
/src/web/** @frontend-team

# Infrastructure and deployment configuration including Vercel and Supabase settings
/infrastructure/** @devops-team @security-team

# Test files including unit, integration, and E2E tests
*.test.ts @qa-team

# Backend configuration files including environment variables and security settings
/src/backend/config/** @security-team

# Database migration and seed files for Supabase PostgreSQL
*.sql @database-team @security-team

# Authentication and authorization code including JWT handling and session management
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files including GitHub Actions and Vercel configs
*.yml @devops-team

# Dependency management files to prevent supply chain attacks
package*.json @security-team @dependency-team
