Repository blitzy-public-samples/case-mentor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @devops-team, @qa-team, @database-team, @dependency-team

.github/CODEOWNERS:

# Requirements addressed:
# - System Security (8.1): Enforces mandatory code reviews for security-sensitive components
# - Development Pipeline (4.5): Implements code review requirements in development workflow
# - Security Protocols (8.3): Ensures security-critical changes are reviewed by security team

# Global fallback ownership - all files will require project lead review if no other rule matches
* @project-leads

# Backend code including API routes, services, and database access
/src/backend/** @backend-team @security-team

# Frontend code including React components, pages, and client-side logic
/src/web/** @frontend-team

# Infrastructure and deployment configuration including Vercel and Supabase settings
/infrastructure/** @devops-team @security-team

# Test files including unit, integration, and E2E tests
*.test.ts @qa-team

# Backend configuration files including environment variables and security settings
/src/backend/config/** @security-team

# Database migration and seed files for Supabase PostgreSQL
*.sql @database-team @security-team

# Authentication and authorization code including JWT handling and session management
/src/backend/lib/auth/** @security-team

# CI/CD and configuration files including GitHub Actions and Vercel configs
*.yml @devops-team

# Dependency management files to prevent supply chain attacks
package*.json @security-team @dependency-team

BugFix: Automated bug fixes for src/web/components/feedback/AIFeedback.tsx
  src/web/components/feedback/AIFeedback.tsx
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/lib/auth.ts
  src/web/lib/auth.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/app/(dashboard)/layout.tsx
  src/web/app/(dashboard)/layout.tsx
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/components/feedback/AIFeedback.tsx
  src/web/components/feedback/AIFeedback.tsx
Owners: @frontend-team

package.json update
  src/web/package-lock.json
  src/web/package.json
Owners: @security-team, @dependency-team

BugFix: Automated bug fixes for src/web/hooks/useAuth.ts
  src/web/hooks/useAuth.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/components/subscription/PaymentForm.tsx
  src/web/components/subscription/PaymentForm.tsx
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/components/drills/BrainstormingDrill.tsx
  src/web/components/drills/BrainstormingDrill.tsx
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/components/drills/BrainstormingDrill.tsx
  src/web/components/drills/BrainstormingDrill.tsx
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/lib/auth.ts
  src/web/lib/auth.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/hooks/useAuth.ts
  src/web/hooks/useAuth.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/components/subscription/PaymentForm.tsx
  src/web/components/subscription/PaymentForm.tsx
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/components/drills/BrainstormingDrill.tsx
  src/web/components/drills/BrainstormingDrill.tsx
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/hooks/useAuth.ts
  src/web/hooks/useAuth.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/web/hooks/useAuth.ts
  src/web/hooks/useAuth.ts
Owners: @frontend-team

BugFix: Automated bug fixes for src/backend/lib/validation/index.ts
  src/backend/lib/validation/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/api/users/[id]/progress/route.ts
  src/backend/api/users/[id]/progress/route.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/validation/index.ts
  src/backend/lib/validation/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/validation/index.ts
  src/backend/lib/validation/index.ts
Owners: @backend-team, @security-team

package.json
  src/backend/lib/validation/index.ts
  src/backend/package.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team, @dependency-team

BugFix: Automated bug fixes for src/backend/lib/validation/index.ts
  src/backend/lib/validation/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/config/openai.ts
  src/backend/config/openai.ts
Owners: @security-team

BugFix: Automated bug fixes for src/backend/lib/drills/types.ts
  src/backend/lib/drills/types.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/config/database.ts
  src/backend/config/database.ts
Owners: @security-team

BugFix: Automated bug fixes for src/backend/types/api.ts
  src/backend/types/api.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/utils/database.ts
  src/backend/utils/database.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/openai/index.ts
  src/backend/lib/openai/index.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/utils/encryption.ts
  src/backend/utils/encryption.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/utils/validation.ts
  src/backend/utils/validation.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/models/SimulationAttempt.ts
  src/backend/models/SimulationAttempt.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/simulation/types.ts
  src/backend/lib/simulation/types.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/utils/formatting.ts
  src/backend/utils/formatting.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/models/Feedback.ts
  src/backend/models/Feedback.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/auth/jwt.ts
  src/backend/lib/auth/jwt.ts
Owners: @security-team

BugFix: Automated bug fixes for src/backend/models/Subscription.ts
  src/backend/models/Subscription.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/simulation/evaluator.ts
  src/backend/lib/simulation/evaluator.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/lib/simulation/ecosystem.ts
  src/backend/lib/simulation/ecosystem.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/models/DrillAttempt.ts
  src/backend/models/DrillAttempt.ts
Owners: @backend-team, @security-team

BugFix: Automated bug fixes for src/backend/config/stripe.ts
  src/backend/config/stripe.ts
Owners: @security-team

BugFix: Automated bug fixes for src/backend/lib/validation/simulation.ts
  src/backend/lib/validation/simulation.ts
Owners: @backend-team, @security-team
